    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.sbimf.com/_catalogs/masterpage/images/homepage/SBI-Balanced-Advantage-Fund_Desktop-Banner-new_v4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="    https://www.sbimf.com/campaign/sbimfmailer/home-banner/esg_desktop-banner-new.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  

<br> <br> <br> <br>
<div class="container">

<div class="float-right">
  <button type="button" class="btn btn-light btn-lg" [routerLink]="['/products']" >BROWSE TOP RATED SCHEMES</button>

  <button type="button" class="btn btn-light btn-lg" [routerLink]="['/callback']" >TALK TO ADVISOR</button>


</div><br>

</div>

  


    
